
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }
  
  .gallery img:nth-child(3n + 1) {
    grid-column: 1 / -1; 
  }
  .title {
    font-family: "Raleway";
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    white-space: nowrap;
    position: relative;
    color: black;
    padding: 0;
  }

  .swiperContainer {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
  }
  
  .galleryImg {
    width: 70%;
    max-height: 90vh;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    align-self: center;
  }

  .titleWrapper {
    display: flex;
    justify-content: space-around;
    gap: 1em;
  }

  .description > p{
    padding: 10px 0;
    font-family: 'Raleway';
    font-size: 1.1rem;
    border-bottom: 1px solid rgb(165, 161, 161);
  }
  .que {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 0;
  }
  .faq > p {
    font-family: 'Raleway';
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 300;
  }

  .faq > h2 {
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  @media (max-width: 768px) {
    .titleWrapper  {
      flex-direction: column;
    }
    .que {
      grid-template-columns: 1fr;
      gap: 2em;
    }
    .galleryImg {
      width: 90%;
    }
  }
